# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build
/dist

# Misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Debug
.vscode/
.idea/

# Environment variables
.env
.env.local
.env.*.local

# IDEs
*.swp
*.swo
*~
.vscode/settings.json
